<div class="jumbotron">
    <h1>Customers</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Create Order</h2>
        <p>
            Place a shuttle order by clicking the button below.
        </p>
        <p>@Html.ActionLink("Create Order", "CreateOrder", "Customers", null, new { @class = "btn btn-default" })</p>
    </div>
</div>

