<div class="jumbotron">
    <h1>Customers</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Create Shuttle Order</h2>
        <p>
            Place a shuttle service order by clicking the button below.
        </p>
        <p>@Html.ActionLink("Create Shuttle Order", "CreateOrder", "Customers", null, new { @class = "btn btn-default" })</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>My Current Orders</h2>
        <p>
            View, edit, and delete your active orders.
        </p>
        <p>@Html.ActionLink("View Current Orders", "ViewCurrentOrders", "Customers", null, new { @class = "btn btn-default" })</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>My Order History</h2>
        <p>
            View all of the orders that you have placed in the past.
        </p>
        <p>@Html.ActionLink("View Order History", "ViewPastOrders", "Customers", null, new { @class = "btn btn-default" })</p>
    </div>
</div>

