<div class="jumbotron">
    <h1>Managers</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Schedule Trips</h2>
        <p>
            Assign drivers to trip orders.
        </p>
        <p>@Html.ActionLink("View Schedule Calendar", "ScheduleTrips", "Managers", null, new { @class = "btn btn-default" })</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Manage User Accounts</h2>
        <p>
            Promote, demote, and remove user accounts.
        </p>
        <p>@Html.ActionLink("Manage Accounts", "", "", null, new { @class = "btn btn-default" })</p>
    </div>
</div>

