<link type="text/css" href="~/Content/fullcalendar.min.css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/moment.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-ui-1.11.3.min.js"></script>
<script type="text/javascript" src="~/Scripts/fullcalendar.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#calendar").fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            defaultView: 'agendaWeek',
            editable: true,
            allDaySlot: false,
            selectable: true,
            eventSources: [{
                url: '@Url.Action("GetTrips", "Managers")',
                type: 'GET'
            }]
        });
    });
</script>

<script type="text/javascript">
    function ShowModalPopup() {
        $('#newEventModal').modal('show');
        $('#startTime').focus();
    };
</script>

<script type="text/javascript">
    function CancelTripChanges() {
        ClearModalFormValues();
        $('#newEventModal').modal('hide');
    };
</script>

<script type="text/javascript">
    function SaveTripChanges() {
        $('#newEventModal').modal('show');

        var dataRow = {
            'NewAvailabilityDate': $('#date').val(),
            'NewAvailabilityStartTime': $('#startTime').val(),
            'NewAvailabilityEndTime': $('#endTime').val()
        }

        ClearModalFormValues();

        $.ajax({
            type: 'POST',
            url: "/Drivers/SaveNewAvailability",
            data: dataRow,
            datatype: 'json',
            success: function (response) {
                if (response == 'True') {
                    $('#calendar').fullCalendar('refetchEvents');
                    $('#newEventModal').modal('hide');
                    //alert('New availability saved!');
                }
                else {
                    alert('Error, could not save availability!');
                }
            }
        });
    };
</script>

<h2>Trip Scheduler</h2>
<hr />
<div id="calendar"></div>
<div id="newEventModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><h3>Assign Driver to trip</h3></div>
            <div class="modal-body">
                <form id="EventForm" class="well">
                    <label>Date</label><br />
                    <input type="text" id="date" readonly><br /><br />
                    <label>Available Start Time</label><br />
                    <input type="text" id="startTime" readonly><br /><br />
                    <label>Available End Time</label><br />
                    <input type="text" id="endTime" readonly><br />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnPopupCancel" class="btn" onclick="CancelTripChanges()">Cancel</button>
                <button type="button" id="btnPopupSave" class="btn btn-primary" onclick="SaveTripChanges()">Save</button>
            </div>
        </div>
    </div>
</div>