@{
    ViewBag.Title = "About Our Company";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>At Rides R' Us, we are dedicated to giving our customers the best shuttle service in the area.</p>
