@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>At Rides R' Us, we are dedicated to giving you, the customer, the most effortless and painless customer experience possible.</p>
