@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    PickYouUp Avenue<br />
    Brookings, SD 57006<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ridesrus.shuttleservice@gmail.com">ridesrus.shuttleservice@gmail.com</a><br />
</address>