@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RIDES R' US</h1>
    <p class="lead">We'll pick you up!</p>
    <p>@Html.ActionLink("Create Trip Order Now!", "Create", "Orders", null, new { @class = "btn btn-primary btn-large" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Customers</h2>
        <p>
            Customers have the ability to easily place a trip order to be shuttled to and from their desired location.
        </p>
        <p>@Html.ActionLink("Customer Home", "Home", "Customers", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Drivers</h2>
        <p>Drivers can view their trip schedules as well as manage their own timesheets.</p>
        <p>@Html.ActionLink("Driver Home", "Home", "Drivers", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Managers</h2>
        <p>Managers can assign trips to drivers, manage all user accounts and orders, deal with trip finacials, and more.</p>
        <p>@Html.ActionLink("Manager Home", "Home", "Managers", null, new { @class = "btn btn-default" })</p>
    </div>
</div>