<div class="jumbotron">
    <h1>Drivers</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>My Schedule</h2>
        <p>
            View your driving schedule.
        </p>
        <p>@Html.ActionLink("View Schedule", "ViewSchedule", "Drivers", null, new { @class = "btn btn-default" })</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>My Timesheet</h2>
        <p>
            Manage your timesheet of driving availability.
        </p>
        <p>@Html.ActionLink("Manage Timesheet", "ManageTimesheet", "Drivers", null, new { @class = "btn btn-default" })</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Driving History</h2>
        <p>
            View all the trips you have driven in the past.
        </p>
        <p>@Html.ActionLink("View History", "ViewTripHistory", "Drivers", null, new { @class = "btn btn-default" })</p>
    </div>
</div>