<link href="~/Content/fullcalendar.min.css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/jquery-ui-1.11.3.min.js"></script>
<script src="~/Scripts/fullcalendar.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#calendar").fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            defaultView: 'month',
            selectable: true,
        });
    });
</script>

<h2>My Driving Schedule</h2>
<hr />
<div id="calendar"></div>

